venv
.env

tester/
kindmom/
sweetkiwi/
statifi/
morningbbobbo/
takuz/
백업/
연습장.ipynb

uploaded/

environ.txt
꽃.ipynb


kkukka.csv
꽃님이.csv
꽃후기_ver2.csv
꾸까.csv
꽃후기/

bloggers/

더베르날짜별구성.csv
images/
flowerpedia/
flower_upload/
ai_for_hi
instagram_images/
korean_depression/
downloaded_images/
instagram/
korean_depression/


부동산/
호갱노노/
호갱노노_백업 - 복사본/
백업.
호갱노노.csv

